body {
    margin: 0;
    padding: 0;
    text-align: start;
    font-family: sans-serif;
}
.frase-topo {
    background-color: black;
    text-align: center;
    padding: 10px;
}
a {
    color: white;
    text-decoration: none;
}
#navbar-secundaria {
    display: none;
}
.container-header {
    padding: 32px;
    background-color: rgb(28, 28, 88);
    display: flex;
    justify-content: space-between;
}
.container-header-conteudo-esquerda, .container-header-conteudo-centro, .container-header-conteudo-direita {
    padding: 10px;
}
.container-header-conteudo-direita {
    margin-left: auto;
}
.container-header-conteudo-centro {
    margin-left: auto;
    margin-right: auto;
}
.icone-principal {
    display: block;
    margin: auto;
}
button {
    background-color: rgb(28, 28, 88);
    color: white;
    padding: 30px 90px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(19, 18, 102);
}
#reserva{
    background-color: rgb(173, 139, 45);
    color: black;
    padding: 30px 90px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
#reserva:hover {
    background-color: rgb(224, 180, 58);
}